{% from 'macros/render_input.html' import render_input %}
{% extends 'layouts/auth.base.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="card fat">
    <div class="card-body">

        <h4 class="card-title">
            Forgot Password
        </h4>

        {% include 'includes/alert.html' %}

        <form action="{{ url_for('auth.forgot_password') }}"
              method="POST"
              class="form-validation"
              novalidate>

            {{ form.csrf_token }}

            <div class="form-group">
                <label for="email">
                    Email Address
                </label>

                {{render_input( form.email,"","Please enter a valid email address.")}}

                <div class="form-text text-muted">
                    Enter your registered email address.
                    If an account exists, we will send a secure password-reset link.
                </div>
            </div>

            <div class="form-group m-0">
                <button type="submit"
                        class="btn btn-primary btn-block">
                    Send Reset Link
                </button>
            </div>

            <div class="mt-4 text-center">
                Remembered your password?

                <a href="{{ url_for('auth.login') }}">
                    Return to Login
                </a>
            </div>

        </form>

    </div>
</div>

{% endblock %}