alembic
annotated-types
anyio
bidict
blinker
certifi
click
colorama
coverage
distro
dnspython
email-validator
eventlet
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
h11
httpcore
httpx
idna
itsdangerous
Jinja2
jiter
Mako
MarkupSafe
openai
packaging
pydantic
pydantic_core
PyMySQL
python-dotenv
python-engineio
python-socketio
simple-websocket
sniffio
SQLAlchemy
tqdm
typing-inspection
typing_extensions
Werkzeug
wsproto
WTForms